body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  order: 3;
  font-size: 2.4em;
  width: 100%;
  max-height: 100px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  margin-bottom: 40px;
  padding: 0.6em 0 0.2em 0;
  text-align: center;
  text-decoration: none;
  width: 30%;
  height: 1.8em;
  max-height: 40px;
  color: #c0b8ad;
  font-weight: 700;
  font-size: 1em;
  border: 2px solid #a69f95;
  border-radius: 6px;
}

.btn:hover { 
  background: rgb(198, 166, 107); 
  color: #ffe5a9;
} 
.btn:active { 
  background: rgb(119, 98, 59);
}

header {
  background-image: url(img/depositphotos_14294527-stock-photo-seeds-and-ears-of-cereal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  margin: 0 0 5% 0;
}

.header__logo {
  margin: 0 10% 0 10%;
  width: 10%;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
 }

 .header-nav__item {
  display: inline-block;
  padding: 2.3%;
  border-bottom: 1px solid rgba(209, 193, 193, 0.7);
  border-top: 1px solid rgba(209, 193, 193, 0.7);
  font-weight: 600;
  width: 17.5%;
}

.header__promo {
  color: white;
  text-align: center;
  font-size: 4em;
  font-weight: 600;
  font-family:sans-serif;
  padding: 5% 0 13% 0;
  width: 100%;
  max-height: 600px;
}

.new {
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
  width: 100%;
}

.new__body {
  width: 50%;
  max-width: 1300px;
  margin: 0 auto  ;
  display: flex;
  flex-direction: column-reverse;
}

.new__items {
  display: flex;
  width: 100%;
  padding: 0;
  border-left: 1px solid black;
}

.item {
  padding: 20px 0 0 25px; 
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  border-right: 1px solid black;
}

.item__photo {
  width:65%;
  order: 1;
}

.item__characteristics {
  width: 34%;
  flex-grow: 1;
  order: 2;
  font-size: 17px;
  margin-right: 1px;
}

.item__table {
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid black;
}

.item__title {
  margin-bottom: 0;
}

.item__text {
  font-size: 17px;
  order: 4;
  height: 100px;
  padding: 5px 20px 0 0;
  margin: 0 0 0 0;
  width: 100%;
}

.item__footer {
  height: 7%;
  width: 100%;
  order: 5;
  display: flex;
  justify-content: space-between;
}


.item__btn {
  margin: 0 10px 0 0;
  display: inline-block; 
}

.item__btn:nth-of-type(2) {
  background: #834700;
  color: #834700;
  width: 20%;
  color: #ffd29e;
  border: 2px solid #8b5e26;
  text-align: center;
}

.item__btn:hover {
  border: 2px solid rgb(114, 92, 79);
  background: #8d673a;
  color: #ffffff;
}

.item__btn:active {
  border: 2px solid black;
  background: #4d2a00;
}

.item__price {
  display: inline-block;
  text-align: center;
  width: 40%;
}

.dignity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 400px;
  background-color: #ffcb78;
  margin-bottom: 6%;
}

.dignity ul {
  text-align: center;
  width: 50%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-shrink: 1;
  padding: 45px 0 45px 0;
}

.dignity__item {
  display: inline-block ;
  width: 100%;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 100;
}

.dignity__item:nth-child(2) {
  border-left: 1px solid rgba(189, 166, 107, .6);
  border-right: 1px solid rgba(189, 166, 107, .6);
}

.history {
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}

.history__body {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1300px;
  width: 50%;
}

.history__name-source {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.history__name {
  flex-grow: 1;
  font-size: 30px;
  font-weight: 600;
}

.history__source {
  color: #be8b00;
}

.history__main-content {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.history__photo {
  order: 2;
  width: 30%;
}

.history__text {
  width: 60%;
  font-size: 19px;
}

.media {
  display: flex;
  justify-content: center;
  background-color: rgb(237, 229, 216);
  margin-bottom: 6%;
}

.media__body {
  display: flex;
  width: 50%;
  margin: 0 auto;
  max-width: 1300px;
  flex-wrap: wrap;
}

.media__title {
  font-size: 3em;
  order: 1;
  padding-top: 60px;
}

.media__text {
  order: 2;
  padding: 0 150px 0 0;
  margin: 0 0 30px 0;
  font-size: 18px;
}

.media__text-name {
  order: 4;
  flex-grow: 1;
  text-align: right;
  padding: 20px 100px 40px 0;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
}

.media__btn {
  order: 3;
}

.price {
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}

.price__body {
  width: 50%;
  margin: 0 auto;
  max-width: 1300px;
}

.price__title {
  font-size: 3em;
}

.price-list {
  width: 100%;
  height: 40em;
  border-collapse: collapse;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.price-list__row:not(.first-row) {
  border-top: 1px solid rgba(116, 101, 64, 0.2);
}

.price-list__name:first-of-type {
  text-align: left;
}

.price-list__name:last-of-type {
  text-align: right;
}

.price-list__name {
  text-align: center;
  color: rgb(183, 183, 182);
  font-weight: 100;
}

.price-list__item:first-of-type {
  text-align: left;
  font-weight: 700;
}

.price-list__item:last-of-type {
  text-align: right;
}

.price-list__item {
  text-align: center;
  font-size: 19px;
}

.novelty {
  color: white;
  background-color: black;
  font-size: 12px;
  font-weight: 100;
  padding: 2px 4px;
  border-radius: 5px;
}

.order{
  display: flex;
  justify-content: center;
  background-color: #ffcb78;
}

.order__body {
  width: 50%;
  margin: 0 auto;
  max-width: 1300px;
}

.order__title {
  margin: 10% 0 6% 0;
  padding-bottom: 0;
}

.order__text {
  font-size: 19px;
  width: 100%;
  margin-bottom: 6%;
}

.field__row {
  display: flex;
}

.order__field-name {
  box-sizing: border-box;
  padding: 15px;
  padding-left: 0;
  font-size: 15px;
  font-weight: 600;
  color: rgba(74, 41, 4, 0.9);
  text-transform: uppercase;
  width: 15%;
  text-align: left;
}

.dop-number {
  text-align: center;
}

.order__field_dp {
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 18px;
  padding: 5px 20px;
  background: #e6b66c; 
  border: 0;
  width: 35%;
}

.order__field {
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 18px;
  width: 85%;
  padding: 5px 20px;
  background: #e6b66c; 
  border: 0;
}

.order__field-comment {
  flex-grow: 1;
  min-height: 200px;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  background: #e6b66c; 
  border: 0;
}

.order__size  {
  flex-grow: 1;
  font-size: 15px;
  padding: 5px 20px;
  background: #e6b66c; 
  border: 0;
  color: #726b63;
}

.field__check {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.field__check input[type="checkbox"] {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #e6b66c;
  border-radius: 5px;
  margin-left: 215px
}

.field__check input[type="checkbox"]:checked {
  background-image: url(img/galochka.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid rgb(72, 63, 39);
  filter: alpha(Opacity=65);
  opacity: 0.65;
}

.field__check .check {
  color: #4b433a;
  padding: 10px;
  padding-left: 40px;
  font-size: 19px;
  font-weight: 600;
  vertical-align: middle;
  text-transform: uppercase;
}

.order__btn {
  margin-left: 210px;
  height: 2.7em;
  width: 15%;
  font-size: 20px;
  text-transform: lowercase;
  background: #834700;
  color: white;
  border-radius: 6px;
  margin-bottom: 180px;
}

.order__btn:hover {
  border: 2px solid black;
  background: #8d673a;
}

.order__btn:active {
  border: 2px solid black;
  background: #4d2a00;
}

/*2560/1440*/

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: black;
}

.footer__body {
  display: flex;
  width: 50%;
  max-width: 1300px;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

.footer__logo {
  margin-top: 6%;
  padding-left: 3%;
  width: 17%;
}

.footer-nav {
  display: flex;
  margin-left: 3%;
  width: 74%;
  flex-grow: 1;
  padding: 70px 0 0 0;
}

.footer-nav__item {
  text-transform: uppercase;
  text-align: center;
  width: 25%;
  font-weight: 600;
  font-size: 18px;
  flex-grow: 1;
  display: inline-block;
  padding: 20px;
}

.footer__social {
  margin: 3% 0 0 0;
  width: 29%;
}

.inst, .vk, .facebook {
  width: 31%;
}

.footer__text {
  border: 1px solid black;
  flex-grow: 1;
  color: #847a6a;
  width: 22%;
  margin: 3% 0 0 0;
  padding: 2% 5%;
}

.footer__creator {
  margin: 3% 0 0 0;
  color: #847a6a;
  width: 38%;
}

.creater__logo {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  width: 4.5em;
  height: 3.1em;
  background: #2c2822;
}

/*
1440+
980 or 960
768
540 or 480
*/

@media screen and (min-width: 1601px) {
  .header-nav__item {
    font-size: 2em;
  }
  .order__field {
    width: 75%;
  }
  .order__field-name {
    width: 25%;
  }
  .dop-number {
    width: 20%;
  }
  .order__field_dp {
    width: 22.5%;
  }
}

@media screen and (max-width: 1600px) {
  .item__btn {
    font-size: 15px;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
  }
  .price-list {
    height: 25em;
  }
  .footer__body {
    width: 100%;
  }
  .order__field {
    width: 75%;
  }
  .order__field-name {
    width: 25%;
  }
  .dop-number {
    width: 20%;
  }
  .order__field_dp {
    width: 22.5%;
  }
  .footer__logo {
    width: 15%;
  }
  .footer__social {
    width: 25%;
  }
  .field__check .check {
    font-size: 15px;
  }
}

@media screen and (max-width: 1366px) { /*13*/
  .item__characteristics {
    font-size: 14px;
  }
  .item__text {
    font-size: 14px;
  }
  .item__btn {
    font-size: 12px;
  }
  .dignity ul {
    flex-wrap: wrap;
  }
  .dignity__item {
    padding: 3% 15%;
    width: 100%;
  }
  .dignity__item:nth-child(2) {
    border-left: 0px solid rgba(189, 166, 107, .6);
    border-right: 0px solid rgba(189, 166, 107, .6);
    border-top: 1px solid rgba(189, 166, 107, .6);
    border-bottom: 1px solid rgba(189, 166, 107, .6);
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 480px) {

}